body {
    font-family: 'lato', sans-serif;
}

.BookAppointment .patientForm {
    margin-top: 15rem;
    text-align: center;
}

.BookAppointment .containerBookAppointment {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 10rem;
}

.BookAppointment .getList {
    display: grid;
    grid-template-columns: 1fr 1.8fr;
}

.BookAppointment h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

.BookAppointment h2 small {
    font-size: 0.5em;
}

.BookAppointment .responsive-table li {
    border-radius: 5px;
    padding: 25px 30px;
    display: flex;
    text-align: center;
    margin-bottom: 25px;
}

.BookAppointment .responsive-table .table-header {
    background-color: #252626;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.BookAppointment .responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.BookAppointment .responsive-table .col-1 {
    flex-basis: 15%;
}

.BookAppointment .responsive-table .col-2 {
    flex-basis: 30%;
}

.BookAppointment .responsive-table .col-3 {
    flex-basis: 10%;
}

.BookAppointment .responsive-table .col-4 {
    flex-basis: 30%;
}

.BookAppointment button {
    background-color: #333333;
    border: 2px solid white;
    border-radius: 27px;
    color: white;
    font-size: 9.5px;
    font-weight: 600;
    margin-top: -15px;
    padding: 10px 16px;
    text-transform: uppercase;
    border-radius: 50px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

.BookAppointment button:hover {
    background-color: rgb(241, 241, 241);
    color: #333333;
    outline: 0;
}

.BookAppointment button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.input-container {
    width: 240px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.label {
    position: absolute;
    left: 10px;
    top: 14px;
    font-size: 14px;
    transition: all 0.2s;
    padding: 0 6px;
    background-color: #160736;
    border-radius: 10%;
    background-attachment: fixed;
    z-index: 0;
    color: #b3b3b3;

}

.text-input {
    padding: 1.2rem;
    width: 100%;
    text-align: center;
    height: 100%;
    border: 2px solid #2f2c45;
    background: #272530;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s;
    color: rgb(244, 243, 243);
}

.label::before {
    content: '';
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #7e4ccb;
}

.text-input:focus+.label,
.filled {
    top: -10px;
    color: #fff;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

.select-input {
    position: relative;
    width: 112px;
    margin: auto;
}

.select-input select {
    padding: 10;
}